<div id="slack-rules">
  {{#if editing}}
    <form class="form-horizontal new-filter">
      <div>
        <label>{{i18n "slack.category"}}</label>
        {{category-chooser
          value=editing.categoryId
          rootNoneLabel="slack.choose.all_categories"
          rootNone=true}}
      </div>

      {{#if siteSettings.tagging_enabled}}
        <div>
          <label>{{i18n "slack.tags"}}</label>
          {{tag-chooser tags=editing.tags placeholderKey="slack.choose.tags" width=220}}
        </div>
      {{/if}}

      <div>
        <label>{{i18n "slack.channel"}}</label>
        {{text-field value=editing.channel placeholderKey="slack.choose.channel" class="channel"}}
      </div>

      <div>
        <label>{{i18n "slack.filter"}}</label>
        {{combo-box content=filters value=editing.filter}}
      </div>

      <div class="buttons">
        {{d-button
          action="save"
          class="save btn btn-primary"
          title="slack.button.save"
          label="slack.button.save"
          disabled=saveDisabled}}

        {{d-button
          action="cancel"
          class="btn btn-default"
          title="slack.button.cancel"
          label="slack.button.cancel"}}
      </div>
    </form>
  {{else}}
    {{d-button action="new"
      icon="plus"
      title="slack.button.new"
      label="slack.button.new"}}
  {{/if}}
  <table>
    <tr>
      <th>{{i18n "slack.category"}}</th>

      {{#if siteSettings.tagging_enabled}}
        <th>{{i18n "slack.tags"}}</th>
      {{/if}}

      <th>{{i18n "slack.channel"}}</th>
      <th>{{i18n "slack.filter"}}</th>
      <th></th>
    </tr>

    {{#each model as |rule|}}
      <tr class="">
        <td>{{rule.categoryName}}</td>

        {{#if siteSettings.tagging_enabled}}
          <td>{{rule.tags}}</td>
        {{/if}}

        <td>{{rule.channel}}</td>
        <td>{{rule.filterName}}</td>

        <td>
          {{!-- {{d-button action="edit" actionParam=rule icon="pencil" class="edit" title="slack.edit"}} --}}
          {{d-button action="delete" actionParam=rule icon="trash-o" class="delete btn-danger" title="slack.delete"}}
        </td>
      </tr>
    {{/each}}
  </table>

  <p>{{{i18n "slack.command.help"}}}</p>

  {{d-button action="testNotification"
      icon="rocket"
      disabled=testingNotification
      title="slack.test_notification"
      label="slack.test_notification"}}

  {{#d-button
      action="resetSettings"
      icon="trash"
      title="slack.reset_settings"
      label="slack.reset_settings"}}
  {{/d-button}}
</div>
